{% extends 'catalog/base.html'%}

{% block title %}Наши контакты{% endblock %}

{% block content %}

<div class="container d-flex justify-content-center">

    <div class="card">
        <div class="card-body bg-body rounded-2">
            <form method="post">
                {% csrf_token %}
                {{ form.as_p }}
                <div class="d-flex justify-content-center">
                    <button type="submit" class="btn btn-outline-primary">Отправить</button>
                </div>
            </form>
        </div>
    </div>

    <div class="ms-5 card">
        <div class="card-body bg-body rounded-2">
            <h1 class="card-title">О нас</h1>
            <p>Занимаемся продажей</p>
        </div>
    </div>
</div>
{% endblock %}