{% extends 'catalog/base.html' %}

{% block title %}Главная{% endblock %}

{% block content %}

<div class="container mt-5 mb-3 d-flex justify-content-center">
    <h1 class="text-white">Мой магазин</h1>
</div>

<div class="container d-flex justify-content-center">
    <h1 class="text-warning">Популярные Категории</h1>
</div>

<div class="container d-flex justify-content-center">

    {% for cat in category %}
    <div class="card m-2 rounded-pill">
        <div class="card-body bg-dark bg-gradient rounded-pill">
            <a class="text-white" role="button" href="/all_product_category/{{ cat.id }}/">{{ cat.name_category }}</a>
        </div>
    </div>
    {% endfor %}

</div>

<div class="container mt-5 d-flex justify-content-center">
    <div class="row row-cols-1 row-cols-md-3 g-4">
        {% for info in products %}
        <div class="col">
            <div class="card bg-black bg-gradient">
                <img src="..." class="card-img-top" alt="...">
                <div class="card-body bg-dark bg-gradient rounded-2">
                    <h5 class="card-title text-warning">{{  info.name_product }}</h5>
                    <p class="card-text text-white">{{ info.descriptions|default:'Нету описания'|truncatechars:100}}</p>
                    <a class="p-2 btn btn-outline-warning" role="button" href="#">Подробнее</a>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
</div>

{% endblock %}