{% extends 'catalog/base.html' %}

{% block title %}Подробно: {{product_detail.name_product}}{% endblock %}

{% block content %}

<div class="container">
    <div class="row">
        <div class="col-12">
            <div class="row">

                <div class="col-4">
                    {% if product_detail.image %}
                    <img class="w-50" src="{{ product_detail.image.url }}">
                    {% else %}
                    <div class="card bg-body rounded-3">
                        <h5 class="card-title text-center">Изображение не найдено</h5>
                    </div>
                    {% endif %}
                </div>

                <div class="col-4 d-flex justify-content-center">
                    <div class="card rounded-3">
                        <div class="card-body bg-body rounded-3">
                            <h5 class="card-title text-center">Описание</h5>
                            <p class="card-text">{{ product_detail.descriptions|default:'Описание отсутствует' }}</p>
                        </div>
                    </div>
                </div>

                <div class="col-4 d-flex justify-content-center">
                    <div class="row-1">
                        <div class="card bg-body rounded-3">
                            <h5 class="card-title text-center">Цена</h5>
                            <p class="card-text">{{ product_detail.purchase_price }}</p>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>

<div class="container mt-5 mb-5 d-flex justify-content-center">
    <p>
        <a href="{% url 'catalog:product_update' product_detail.pk %}" class="btn btn-outline-primary">Редактировать</a>
        <a href="{% url 'catalog:product_delete' product_detail.pk %}" class="btn btn-outline-danger">Удалить</a>
    </p>
</div>

{% endblock %}